:root {
  --home-bg-color: #000;
  --account-bg-color: #f3f3f3;
  --text-color: #fff;
  --primary-color: #e40a13;
  --secondary-color: #929292;
}

#root,
body {
  background: var(--home-bg-color);
}

.btn {
  border-radius: 0;
}

#logo {
  height: 48px;
}

#avatar {
  height: 36px;
}

#avatar-small {
  height: 24px;
  margin-right: 10px;
}

.dropdown-menu {
  margin-left: -100px;
  background-color: var(--home-bg-color);
}

.icon {
  margin: 4px 10px;
}

.dropdown-menu a {
  font-size: 12px;
}

.genre-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-cover {
  transition: 0.3s;
  opacity: 0.7;
}

.movie-cover:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.025);
  position: relative;
  z-index: 1;
}

:is(.carousel-control-prev, .carousel-control-next) {
  width: 40px;
}

.account-page {
  min-height: 100vh;
  background-color: var(--account-bg-color);
}

.account-page h6 {
  font-size: 1.2rem;
  opacity: 0.8;
}

.account-page .btn-membership {
  background-image: linear-gradient(
    to bottom,
    rgb(236, 236, 236),
    rgb(211, 211, 211)
  );
  background-repeat: no-repeat;
  border: none;
  font-weight: 500;
  font-size: 0.9rem;
  padding-inline: 2rem;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 30%);
}

.profile-page {
  /* padding: 5% 20%; */
  color: #fff;
}

.profile-page .btn {
  letter-spacing: 0.05rem;
}

.profile-page .action-buttons button {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.profile-title {
  font-size: 64px;
}

.edit-icon {
  position: relative;
  left: 10%;
  top: -10%;
  background: black;
  padding: 10px;
  border-radius: 50%;
}

input[type="text"] {
  padding: 10px;
  background: var(--secondary-color);
  width: 100%;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

input[type="text"]:focus {
  outline: none;
}

input[type="checkbox"] {
  width: 36px;
  height: 36px;
}

/*
======================
SINGLE MOVIE
======================
*/

.card-body {
  background-color: black;
}

.card-title,
h5,
.card-text {
  color: white;
}

.card {
  transition: all 0.3s ease-out;
  border: none;
}

.card:hover {
  transform: scale(1.1);
}

/*
======================
COMMENT AREA
======================
*/

.comment-area {
  color: white;
}

.comment-area input {
  text-align: center;
  background-color: rgb(17, 17, 17);
  padding: 0;
  border: 2px solid red;
}

.comment-area input::placeholder {
  color: red;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.comment-area input:focus {
  color: red;
  font-size: 1rem;
  background-color: rgb(50, 50, 50);
  padding: 0.3rem;
  border: 3px dashed red;
}

.comment-area select {
  background-color: rgb(17, 17, 17);
  color: white;
  border: 2px solid red;
  margin-bottom: 1rem;
}
.comment-area select:focus {
  background-color: rgb(17, 17, 17);
  color: white;
  border: 3px solid red;
}

.comment-area button {
  margin: 0.2rem;
  border-radius: 10px;
}

.list-group-item {
  background-color: rgb(50, 50, 50);
  color: white;
  border: 2px solid red;
}

.bg-transparent {
  border: 2px solid grey;
}
.bg-transparent:hover {
  border: 2px solid rgb(61, 61, 61);
}

.avatar {
  border: none;
}
.avatar:hover {
  border: none;
}

.loadBtn {
  background-color: #dc3545;
}
